---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: false
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<ul class="entry-list">
{% for post in site.talks reversed %}
  <li>
    <span class="entry-title">{{ post.title }}</span>
    <span class="entry-meta">
      <span class="entry-venue">{{ post.venue }}</span>{% if post.location %}<span class="entry-sep">&middot;</span>{{ post.location }}{% endif %}<span class="entry-sep">&middot;</span><span class="entry-detail entry-detail--nowrap">{% if post.date_display %}{{ post.date_display }}{% else %}{{ post.date | date: '%B %-d, %Y' }}{% endif %}</span>
    </span>
  </li>
{% endfor %}
</ul>
